@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    background:#050816;
    color:#fff;
}

.auth-container{
    min-height:100vh;
    display:flex;
}



.left-side{
    width:55%;
    position:relative;
    padding:40px;
    overflow:hidden;
    background:#050816;
}

.left-side::before{
    content:"";
    position:absolute;
    width:450px;
    height:450px;
    border-radius:50%;
    background:rgba(100,80,255,.15);
    filter:blur(90px);
    left:-100px;
    top:50px;
}

.left-side::after{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    border-radius:50%;
    background:rgba(214,255,63,.20);
    filter:blur(80px);
    bottom:60px;
    left:280px;
}

.logo{
    display:flex;
    align-items:center;
    gap:18px;
    position:relative;
    z-index:2;
}

.logo-icon{
    width:54px;
    height:54px;
    border-radius:50%;
    background:#D6FF3F;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:900;
    box-shadow:0 0 25px rgba(214,255,63,.35);
}

.logo h2{
    font-size:42px;
    font-weight:800;
}

.logo span{
    color:#D6FF3F;
}

.hero-content{
    position:absolute;
    bottom:80px;
    max-width:520px;
    z-index:2;
}

.tagline{
    color:#D6FF3F;
    letter-spacing:4px;
    font-size:12px;
    margin-bottom:20px;
}

.hero-content h1{
    font-size:60px;
    line-height:1.1;
}

.hero-content h1 span{
    color:#D6FF3F;
}

.description{
    margin-top:20px;
    color:#9da3b3;
    line-height:1.6;
}

.stats{
    display:flex;
    gap:40px;
    margin-top:40px;
}

.stats h3{
    font-size:28px;
}

.stats p{
    color:#8a8f9f;
    font-size:12px;
}



.right-side{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#040710;
}

.form-box{
    width:420px;
    display:none;
}

.active-form{
    display:block;
}

.form-box small{
    color:#D6FF3F;
    letter-spacing:3px;
}

.form-box h1{
    margin:15px 0 30px;
    font-size:42px;
}

.form-box h1 span{
    color:#D6FF3F;
}

.input-box{
    margin-bottom:15px;
}

.input-box input{
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#111522;
    color:#fff;
    outline:none;
}

.btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#D6FF3F;
    color:#000;
    font-weight:700;
    cursor:pointer;
    margin-top:10px;
}

.switch{
    text-align:center;
    margin-top:20px;
}

.switch a{
    color:#D6FF3F;
    text-decoration:none;
}



@media(max-width:768px){

    .left-side{
        display:none;
    }

    .right-side{
        width:100%;
        padding:20px;
    }

    .form-box{
        width:100%;
    }

    .form-box h1{
        font-size:32px;
    }
}